.cart{
    background-color: cadetblue;
    border-radius: 5px;
}

.View{
    background-color: cornsilk;
    border-radius: 5px;
}

.btn-group{
    margin-left: 15px;
}

strong{
    color: black;
}

