<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" height="225" [src]="productItem.imageUrl">
    <strong class="text-muted">{{productItem.price }} INR </strong>
    <div class="card-body">
      <p class="card-text">{{productItem.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button [disabled]="disable" (click)="updateItem(1)" type="button" class="cart"> {{addText}} </button>
          <button *ngIf="qty>0" (click)="updateItem(-1)" type="button" class="View">Reduce Quantity</button>
        </div>
        
      </div>
    </div> 