.card{
    width:200px;
    margin-left: 20px;
    border: none;
   
}

form{
    margin-right: 20px;
}


input{
    width:190px;
    border-radius: 5px;
}

button{

    background-color: aqua;
    width:150px;
    margin-left:20px ;
    padding: 3px;
    margin-top: 10px;
    border-radius: 10px;

}
button:hover{
    background-color: blueviolet;
}