<app-nav> </app-nav>
<div class="row">
    <div class="col-md-3">
        <app-filter></app-filter>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-9">
                <div class="search-continer">
                    <input class="search" placeholder="Enter catogery to search" #search />
                    <button class="search-button" (click)="searchbyCatogery(search.value)"> Search </button>
                </div>
                <app-shopping></app-shopping>
            </div>
            <div class="col-md-3">
                <app-cart></app-cart>
            </div>

        </div>


    </div>
</div>