

.signin{
  background-color: darkgray;
  width: 300px;
  margin-left: auto ;
  margin-right: auto ;
  border-radius: 7px;
  
 
 
}

#Login{
  text-align: center;
  color: darkgreen;
  margin-left: 25px;

}

h1{
  text-align: center;
   margin: 10px;
   font-size: xx-large;
}

h2{
  margin-left: 20px;
}

h3{
  font-size: x-large;
 margin-left: 41%;
  width: 50%;
  padding: 10px;

}



input,button{
  width: 250px;
  padding: 8px;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 3px;
  border:none;
  margin:20px;
}

label{
  font-size: large;
  margin-left: 20px;
}

button:hover {
  opacity: 0.8;
}

a{
  font-size: x-large;
 margin-left: 26%;
  width: 50%;
  padding: 10px;

}
