.card{
    width:400px;
    margin-left: 150px;
}
.form-group{
    margin-bottom: 10px;
}
.form-group-1{
    display: flex;
    justify-content: space-evenly;
}

.label{
    font-weight: bold;
}

a{
    text-decoration: none;

}
.card-item {
    display: flex;
    justify-content: center;
}